body {
    display: grid;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: #222222;
    color: #ffffff;
}

header {
    display: flex;
    background: #0c0c0c;
    color: white;
    height: 10svh;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

#content {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 90svh;
    grid-template-columns: 1fr 1fr;
}

#grid {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: clamp(320px, 50vw, 550px);
    height: clamp(320px, 50vw, 550px);
    background-color: #0c0c0c;
    padding: 5px;
    gap: 5px;
}

.grid-cell {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10%;
    user-select: none;
}

.grid-cell:hover {
    background-color: rgb(224, 224, 224);
}

@media only screen and (max-width: 768px) {
    #content {
        grid-template-columns: 1fr;
    }
}
